<!DOCTYPE html>
<html>

<head>
    <title>Expresso - [##NAME##]</title>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <h1>Welcome to [##NAME##] by <span id="name"><%= name %></span> 🚀</h1>
    <p>Set the "name" query in url to change 😉</p>
    <code>?name=YOUR NAME</code>
</body>

</html>