<!DOCTYPE html>
<html>

<head>
    <title>Expresso - [##NAME##]</title>
     <link rel="stylesheet" href="/css/main.css">
     <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    
    <img src="<%=image %>" alt=" ">
    <%- include("components/welcome.ejs") %>
    <p>Set the "name" query in url to change 😉</p>
    <code>?name=YOUR NAME</code>
    <a href="/logout" id="btn_logout">LOGOUT ↪</a>

</body>

</html>