<!DOCTYPE html>
<html>
  <head>
    <title>Expresso - [##NAME##]</title>
    <link rel="stylesheet" href="/css/expresso.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/lib/expresso-client-router/style.css" />
  </head>

  <body>
    <nav>
      <span class="f1">[##NAME##] - <%=locals.user?.email%></span>
      <a href="/" route router-nav="">Home</a
      ><a href="/about" route router-nav="">About</a
      ><a href="/faq" route router-nav="">FAQ</a>
      <img src="<%=locals.user?.image %>" route="/?name=<%=locals.name%>"/>

    </nav>
    <div class="content" router-app>
     
    </div>

    <a href="/logout" id="btn_logout">LOGOUT ↪</a>

    <script src="/lib/expresso-client-router/index.js"></script>
  </body>
</html>
